@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

body {
  height: 100vh;
  background-image: url(../img/darling-in-the-franxx.jpg);
  background-size: cover; /* cobre toda a tela */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px4;
  overflow: hidden;
}

.wrapper {
  max-width: 400px;
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.233);;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 1);
}

.wrapper .title {
  height: 240px;
  color: #00f9fe;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  padding: 25px 35px;
}

.wrapper form .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 70px;
  background: #1a1a1a5c;
  border-radius: 5px;
  border: 1px solid #00ffff5e;
  font-size: 18px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #16a085;
}
form .row input::placeholder {
  color: #e9a3a3;
}

.wrapper form .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #16a08483;
}

.wrapper form .pass {
  margin-top: 12px;
}

.wrapper form .pass a {
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.wrapper form .button input {
  color: #fff;
  margin-top: 48px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  border: 2px solid #caa6a649;
  background: #ff0077;
  cursor: pointer;
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrapper form .signup-link a {
  color: #fff;
}

@media (max-width: 400px) {
    .card {
        width: 90%; /* O card ocupará 90% da largura da tela */
    }
}